* {
  box-sizing: border-box;
}

.hero {
  width: 248px;
  height: 248px;
}

body {
  font: #1a1a1a;
}

.logo {
  width: auto;
  height: 46px;
}

.container {
  max-width: 1000px !important;
}

.footer {
  text-align: center;
}

.bg-green {
  background-color: #9ad3bc !important;
  border-color: #9ad3bc !important;
}

.bg-red {
  background-color: #ec524b !important;
  border-color: #ec524b !important;
}

.kickstarter {
  width: 90%;
  height: auto;
}

.steam {
  width: 60%;
  height: auto;
}

.stores {
  height: 43px;
  width: 137px;
}

.center {
  text-align: center;
}

.fw-lighter {
  font-weight: 200;
}
